body {
  background: #367;
}

.card {
  transition: 0.5s;
  background: #eee;
}

.card h5 {
  padding: 5px 0px;
}

.card:hover i, h5 {
  color: #c2185b;
}

.service .card:hover {
  transform: scale(1.03);
  background: #fff;
}